.forecast{
  background-color: rgba(66, 66, 66, 0.726);
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 15px;
}

.forecast-title > h3{
  margin: 0;
  margin-top: 10px;
}

.forecast-days{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.forecast-day{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgoldenrod;
  width: 70vw;
  height: 9.5vh;
}